<!doctype html>
<title>Login</title>
<link rel="stylesheet" href="/css/pixel.css">
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

<div class="auth-page">
  <div class="auth-box">
    <h2>Login</h2>
    <form method="post" action="/login">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <button type="submit" class="btn">Login</button>
    </form>
    <a href="/register">Don't have account? Register!</a>
  </div>
</div>
